<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>Détail</title>
</head>
<style>

</style>

<body>
    <div class="retour">
      <form action='/'>
        <button type="submit" class="btn btn-primary">Retour</button>
      </form>  
    </div>
    
    <h1 class="titre-historique">Détail de {{ nom_cellule }}</h1>
    <br>

    <div class="param">
      <table class="table">
        <tr>
          <td>Temperature Reprise</td>
          <td>{{ info[jsonEcolab][jsonCellule]['params']['temperature_reprise'] | round }}</td>
        </tr>
        <tr>
          <td>Temperature Eau Pluie</td>
          <td>{{ info[jsonEcolab][jsonCellule]['params']['temperature_eau_pluie']| round  }}</td>
        </tr>
        <tr>
          <td>Temperature Consigne </td>
          <td>{{ info[jsonEcolab][jsonCellule]['params']['temperature_consigne']| round }}</td>
        </tr>
      </table>
    </div>
    <br>
    <div class="historique">
      <table class="table">
        <h2 class="titre-historique">L'historique</h2>      
        <tr>
          <th>Date et Heure</th>
          <th>Les experiences</th>
          <th>Date de Debut</th>
          <th>Date de Fin</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        {% for object in historique %}  
          <tr> 
            <th>{{ object.historique.timestamp }}</th>
            <th>{{ object.experience.nom }}</th>
            <th>{{ object.experience.date_debut }}</th>
            <th>{{ object.experience.date_fin }}</th>
            <th>{{ object.historique.status }}</th>
            <th>{{ object.historique.action }}</th>
          </tr>
        {% endfor %}
      </table>
    </div>
    <form action="{{ url_for('new_experience_in_cellule') }}" method="post">
      <div class="form-group formExp">
        <label for="exampleFormControlSelect1">Affecter une nouvelle expérience :</label>
        <select class="form-control" id="exampleFormControlSelect1" name="experience">
          <option value="" disabled >Choisir l'expérience</option>
          {% for experience in experience_avenir_encours %}
            <option value="{{ experience.id }}">{{ experience.nom }} ({{ experience.etat_experience }})</option>
          {% endfor %}
        </select>
          {% for object in historique %}  
        <input type="hidden" name="cellule" value="{{ object.cellule.id }}">
        <input type="hidden" name="cellule_name" value="{{ object.cellule.nom }}">
        {% endfor %}
        <input type="hidden" name="experienceEnCours" value="{{ experience }}">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</body>
</html>